<h1 class="title">{{ .Title }}</h1>


<link rel="stylesheet" href="{{ .Site.BaseURL }}css/new_custom.css" type="text/css" media="screen" />
<!-- 
     <div class="card">
     <div class="container">
     <h4><b>Category:C++</b></h4>
     <hr/>
     </div>
     </div>
-->
<ul class="posts">
  {{ range .Data.Pages -}}
  <li>
    <span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ if not .Date.IsZero }}
      <time class="pull-right post-list">
        {{- .Date.Format (.Site.Params.dateformat | default "Jan 02, 2006") -}}
      </time>    
      {{end}}
    </span>
  </li>
  {{- end }}
</ul>
